In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [5]:
data = pd.read_csv("C:\\Users\\user\\Desktop\\data sets\\Churn_Modelling.csv")

In [6]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
x = data.iloc[:,3:-1].values
y = data.iloc[:,-1].values

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder , StandardScaler

In [10]:
le = LabelEncoder()
x[:,1] = le.fit_transform(x[:,1]) # Geography
x[:,2] = le.fit_transform(x[:,2]) # gender

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [14]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [15]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu',input_dim= x_train.shape[1]),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
    
    
])

In [17]:
loss_fn = tf.keras.losses.BinaryCrossentropy()
metrics = ['accuracy']

In [18]:
leraning_rate = 0.01
optimizer = tf.keras.optimizers.Adagrad(learning_rate=leraning_rate)

In [20]:
model.compile(optimizer=optimizer,loss=loss_fn,metrics = metrics)

In [23]:
batch_size=32
epochs = 10
model.fit(x_train,y_train,batch_size=batch_size,epochs=epochs,validation_split=0.2)

Epoch 1/10
200/200 [==============================] - 2s 7ms/step - loss: 0.4960 - accuracy: 0.7930 - val_loss: 0.4527 - val_accuracy: 0.7987
Epoch 2/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4470 - accuracy: 0.8003 - val_loss: 0.4304 - val_accuracy: 0.8131
Epoch 3/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4321 - accuracy: 0.8170 - val_loss: 0.4205 - val_accuracy: 0.8244
Epoch 4/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4229 - accuracy: 0.8214 - val_loss: 0.4134 - val_accuracy: 0.8300
Epoch 5/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4152 - accuracy: 0.8297 - val_loss: 0.4067 - val_accuracy: 0.8344
Epoch 6/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4075 - accuracy: 0.8347 - val_loss: 0.4007 - val_accuracy: 0.8369
Epoch 7/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4001 - accuracy: 0.8405 - val_loss: 0.3944 - val_accuracy: 0.8381
Epoch 8/10
200/200 [==============================] - 1s 3ms/step - loss: 0.3926 - accuracy: 0.8422 - val_loss: 0.3886 - val_accuracy: 0.8444
Epoch 9/10
200/200 [==============================] - 1s 3ms/step - loss: 0.3859 - accuracy: 0.8469 - val_loss: 0.3831 - val_accuracy: 0.8444
Epoch 10/10
200/200 [==============================] - 1s 3ms/step - loss: 0.3795 - accuracy: 0.8492 - val_loss: 0.3784 - val_accuracy: 0.8450

In [25]:
test_loss,test_acc = model.evaluate(x_test,y_test)
print('Test Loss:',test_loss)
print("Test Accuracy:",test_acc)

63/63 [==============================] - 0s 2ms/step - loss: 0.3726 - accuracy: 0.8530
Test Loss: 0.3725612163543701
Test Accuracy: 0.8529999852180481